<ion-header>
  <ion-navbar>
    <ion-title>
      CT247
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Welcome!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  
  <ion-searchbar autocomplete="on" (ionInput)="getItems($event)"  [(ngModel)]="searchBoxValue" (keyup.enter)="handleSearch()"></ion-searchbar>
  <ion-list *ngIf="showList">
    <ion-item *ngFor="let item of items"  (click)="medClicked($event, item)">
      {{ item }}
    </ion-item>
  </ion-list> 
  
  
  	<ion-list>	
    <ion-item>
      <ion-input type="email" [(ngModel)]="account.email" name="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]="account.password" name="password" placeholder="Password" click></ion-input>
    </ion-item>

   </ion-list>
   
   
  <div padding>
    <button ion-button color="primary" block (click)="form_check()">Sign In</button>
  </div>
  
</ion-content>  

